.single-product {
	display: flex;
	border-bottom: 1px solid #ccc;
	margin-right: 10px;
}
.product-img {
	margin: 20px 100px;
}
.product-info {
	flex-basis: 60%;
}
.product-name {
	color: #258dd3;
	font-weight: 500;
}
.cart-btn {
	background: #ff9800;
	border: 1px solid #ff9800;
	padding: 10px 20px;
	border-radius: 5px;
	cursor: pointer;
	transition: 0.3s;
	margin-bottom: 20px;
}
.cart-btn:hover {
	background: transparent;
	border: 1px solid #ff9800;
	box-shadow: 0 5px 15px 8px rgba(0, 0, 0, 0.1);
}
